.actions{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn-checkout{
    width: calc(50% - 10px);
}
.view-cart
{
    width: calc(50% - 10px);
}
.btn-text{
    font-size: 11px;
}